# Copyright (c) 2021 CloudZero - ALL RIGHTS RESERVED - PROPRIETARY AND CONFIDENTIAL
# Unauthorized copying of this file and/or project, via any medium is strictly prohibited.
# Direct all questions to legal@cloudzero.com

attrdict==2.0.1
attrs==19.3.0
boto3>=1.20.32
configparser==4.0.2
httpx==0.16.1
requests==2.23.0
sentry-sdk==0.16.2
simplejson==3.17.2
voluptuous==0.12.1
tastyworks-api==4.2.0

botocore>=1.23.32
cachetools>=4.0.0
python-dateutil>=2.8.1
toolz>=0.9.0